#insideScroll
{
color: white;

}
.container-fluid1
{
	top: 50px;
	position: relative;
	height: 500px;
	width: 800px;
	margin: auto;
	border-radius: 50px;
}
.container2
{
	height: 500px;
	overflow: auto;
	border-radius: 20px;
	
}
body
{
	
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(desg1.jpg); 
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment:fixed
}